<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1> currency converter<h1>
  <form action=" /convert" method="GET">
    <label for="dollar">Amount of dollars</label>
    <input type="number" step="any" name="dollar_amount" id="dollar"/>
    <br>
    <label for="to_currency">Conver to</label>
    <select name="to_currency" id="to_currency">
      <option value="EURO">EUROS</option>
            <option value="JPY">YEN</option>
          </select>
          <br>

        <button type="submit">conver</button>
      </form>
    </body>
    </html>
